In [1]:
import numpy as np
import pandas as pd

In [2]:
a = np.array([1,2,None,4,5])
a

array([1, 2, None, 4, 5], dtype=object)

In [3]:
a.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [4]:
a = np.array([1,2,np.nan,4,5])
a.dtype

dtype('float64')

In [5]:
0 + np.nan

nan

In [6]:
np.nan + np.nan

nan

In [7]:
a.sum(), a.min(), a.max()

(nan, nan, nan)

In [8]:
np.nansum(a), np.nanmin(a), np.nanmax(a)

(12.0, 1.0, 5.0)

In [9]:
pd.Series([1,2,np.nan,4,None])

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [10]:
s = pd.Series(range(5),dtype=int)
s

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [11]:
s[0] = None
s

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [12]:
s[3] = np.nan

In [13]:
s = pd.Series([True,False,None,np.nan])
s

0     True
1    False
2     None
3      NaN
dtype: object

In [15]:
s = pd.Series([1,2,np.nan,'String',None])
s

0         1
1         2
2       NaN
3    String
4      None
dtype: object

In [16]:
s.isnull()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [17]:
s[s.notnull()]

0         1
1         2
3    String
dtype: object

In [18]:
s.dropna()

0         1
1         2
3    String
dtype: object

In [23]:
df = pd.DataFrame({'a':np.random.randn(100),
                  'b':np.random.randn(100),
                  'c':np.random.randn(100)})
df

           a         b         c
0  -0.277785  0.459027  0.116692
1  -0.490128  1.203038  0.025646
2  -0.405277  1.618489  0.265657
3   0.794617  0.498107  0.451769
4   0.045210  0.478292 -0.948371
..       ...       ...       ...
95  0.150416  0.242386  0.305687
96  0.364134  0.279554  0.771746
97 -0.033968 -0.475263  0.899943
98  0.825547 -0.449909  0.383520
99  0.721060 -0.384493  1.065828

[100 rows x 3 columns]

In [25]:
df[3] = np.nan
df

           a         b         c   3
0  -0.277785  0.459027  0.116692 NaN
1  -0.490128  1.203038  0.025646 NaN
2  -0.405277  1.618489  0.265657 NaN
3   0.794617  0.498107  0.451769 NaN
4   0.045210  0.478292 -0.948371 NaN
..       ...       ...       ...  ..
95  0.150416  0.242386  0.305687 NaN
96  0.364134  0.279554  0.771746 NaN
97 -0.033968 -0.475263  0.899943 NaN
98  0.825547 -0.449909  0.383520 NaN
99  0.721060 -0.384493  1.065828 NaN

[100 rows x 4 columns]

In [28]:
df.dropna(axis='columns',how='all')

           a         b         c
0  -0.277785  0.459027  0.116692
1  -0.490128  1.203038  0.025646
2  -0.405277  1.618489  0.265657
3   0.794617  0.498107  0.451769
4   0.045210  0.478292 -0.948371
..       ...       ...       ...
95  0.150416  0.242386  0.305687
96  0.364134  0.279554  0.771746
97 -0.033968 -0.475263  0.899943
98  0.825547 -0.449909  0.383520
99  0.721060 -0.384493  1.065828

[100 rows x 3 columns]

In [30]:
df.dropna(axis='rows',thresh=3)

           a         b         c   3
0  -0.277785  0.459027  0.116692 NaN
1  -0.490128  1.203038  0.025646 NaN
2  -0.405277  1.618489  0.265657 NaN
3   0.794617  0.498107  0.451769 NaN
4   0.045210  0.478292 -0.948371 NaN
..       ...       ...       ...  ..
95  0.150416  0.242386  0.305687 NaN
96  0.364134  0.279554  0.771746 NaN
97 -0.033968 -0.475263  0.899943 NaN
98  0.825547 -0.449909  0.383520 NaN
99  0.721060 -0.384493  1.065828 NaN

[100 rows x 4 columns]

In [31]:
s

0         1
1         2
2       NaN
3    String
4      None
dtype: object

In [32]:
s.fillna(0)

0         1
1         2
2         0
3    String
4         0
dtype: object

In [35]:
s.fillna(method='ffill')

0         1
1         2
2         2
3    String
4    String
dtype: object

In [37]:
s.fillna(method='bfill')

0         1
1         2
2    String
3    String
4      None
dtype: object

In [38]:
df

           a         b         c   3
0  -0.277785  0.459027  0.116692 NaN
1  -0.490128  1.203038  0.025646 NaN
2  -0.405277  1.618489  0.265657 NaN
3   0.794617  0.498107  0.451769 NaN
4   0.045210  0.478292 -0.948371 NaN
..       ...       ...       ...  ..
95  0.150416  0.242386  0.305687 NaN
96  0.364134  0.279554  0.771746 NaN
97 -0.033968 -0.475263  0.899943 NaN
98  0.825547 -0.449909  0.383520 NaN
99  0.721060 -0.384493  1.065828 NaN

[100 rows x 4 columns]

In [39]:
df.fillna(method='ffill',axis=0)

           a         b         c   3
0  -0.277785  0.459027  0.116692 NaN
1  -0.490128  1.203038  0.025646 NaN
2  -0.405277  1.618489  0.265657 NaN
3   0.794617  0.498107  0.451769 NaN
4   0.045210  0.478292 -0.948371 NaN
..       ...       ...       ...  ..
95  0.150416  0.242386  0.305687 NaN
96  0.364134  0.279554  0.771746 NaN
97 -0.033968 -0.475263  0.899943 NaN
98  0.825547 -0.449909  0.383520 NaN
99  0.721060 -0.384493  1.065828 NaN

[100 rows x 4 columns]

In [40]:
df.fillna(method='ffill',axis=1)

           a         b         c         3
0  -0.277785  0.459027  0.116692  0.116692
1  -0.490128  1.203038  0.025646  0.025646
2  -0.405277  1.618489  0.265657  0.265657
3   0.794617  0.498107  0.451769  0.451769
4   0.045210  0.478292 -0.948371 -0.948371
..       ...       ...       ...       ...
95  0.150416  0.242386  0.305687  0.305687
96  0.364134  0.279554  0.771746  0.771746
97 -0.033968 -0.475263  0.899943  0.899943
98  0.825547 -0.449909  0.383520  0.383520
99  0.721060 -0.384493  1.065828  1.065828

[100 rows x 4 columns]

In [41]:
df.fillna(method='bfill',axis=0)

           a         b         c   3
0  -0.277785  0.459027  0.116692 NaN
1  -0.490128  1.203038  0.025646 NaN
2  -0.405277  1.618489  0.265657 NaN
3   0.794617  0.498107  0.451769 NaN
4   0.045210  0.478292 -0.948371 NaN
..       ...       ...       ...  ..
95  0.150416  0.242386  0.305687 NaN
96  0.364134  0.279554  0.771746 NaN
97 -0.033968 -0.475263  0.899943 NaN
98  0.825547 -0.449909  0.383520 NaN
99  0.721060 -0.384493  1.065828 NaN

[100 rows x 4 columns]

In [42]:
df.fillna(method='bfill',axis=1)

           a         b         c   3
0  -0.277785  0.459027  0.116692 NaN
1  -0.490128  1.203038  0.025646 NaN
2  -0.405277  1.618489  0.265657 NaN
3   0.794617  0.498107  0.451769 NaN
4   0.045210  0.478292 -0.948371 NaN
..       ...       ...       ...  ..
95  0.150416  0.242386  0.305687 NaN
96  0.364134  0.279554  0.771746 NaN
97 -0.033968 -0.475263  0.899943 NaN
98  0.825547 -0.449909  0.383520 NaN
99  0.721060 -0.384493  1.065828 NaN

[100 rows x 4 columns]

In [44]:
df = pd.DataFrame({'c1':['a','b','c']*2+['b']+['c'],
                  'c2':[1,2,1,1,2,3,3,4]})
df

  c1  c2
0  a   1
1  b   2
2  c   1
3  a   1
4  b   2
5  c   3
6  b   3
7  c   4

In [47]:
df.duplicated()

0    False
1    False
2    False
3     True
4     True
5    False
6    False
7    False
dtype: bool

In [48]:
df.drop_duplicates()

  c1  c2
0  a   1
1  b   2
2  c   1
5  c   3
6  b   3
7  c   4

In [50]:
s = pd.Series([1.,2.,-999.,3.,-1000.,4.])
s

0       1.0
1       2.0
2    -999.0
3       3.0
4   -1000.0
5       4.0
dtype: float64

In [51]:
s.replace(-999,np.nan)

0       1.0
1       2.0
2       NaN
3       3.0
4   -1000.0
5       4.0
dtype: float64

In [52]:
s.replace([-999,-1000],np.nan)

0    1.0
1    2.0
2    NaN
3    3.0
4    NaN
5    4.0
dtype: float64

In [53]:
s.replace([-999,-1000],[np.nan,0])

0    1.0
1    2.0
2    NaN
3    3.0
4    0.0
5    4.0
dtype: float64