In [3]:
import numpy as np
import pandas as pd

In [4]:
vals1=np.array([1,None,3,4])
vals1

array([1, None, 3, 4], dtype=object)

In [5]:
for dtype in ['object','int']:
    print("dtype =", dtype)
    %timeit np.arange(1E6,dtype=dtype,sum())
    print()

dtype = object

SyntaxError: positional argument follows keyword argument (<unknown>, line 1)

In [6]:
#파이썬 기본 객체인 object에서는 None 값을 더해주지 못한다
vals1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [7]:
vals2=np.array([1,np.nan,3,4])
vals2.dtype

dtype('float64')

In [8]:
#바이러스와 같다
1+np.nan
0*np.nan

nan

In [10]:
vals2.sum(),vals2.min(),vals2.max() #오류를 발생시키진 않는다

(nan, nan, nan)

In [11]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2) #넘파이 고유의 nan 집계 연산

(8.0, 1.0, 4.0)

In [12]:
pd.Series([1,np.nan,2,None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [13]:
x=pd.Series(range(2),dtype=int)
x

0    0
1    1
dtype: int32

In [15]:
x[0]=None
x

0    NaN
1    1.0
dtype: float64

In [16]:
data=pd.Series([1,np.nan,'hello',None])

In [19]:
data.isnull() #누락 값을 가리키는 부울 마스크 생성

0    False
1     True
2    False
3     True
dtype: bool

In [20]:
#정상 값을 가리키는 마스크를 생성해서 씌워준다 -> 데이터 추출
data[data.notnull()]

0        1
2    hello
dtype: object

In [21]:
data.dropna()

0        1
2    hello
dtype: object

In [4]:
df=pd.DataFrame([[1,np.nan,2],[2,3,5],[np.nan,4,6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [24]:
df.dropna() #널 값이 있는 모든 행 삭제

     0    1  2
1  2.0  3.0  5

In [25]:
df.dropna(axis='columns') #널 값이 있는 모든 열을 삭제한다

   2
0  2
1  5
2  6

In [26]:
df[3]=np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [6]:
df.dropna(axis='columns',how='all') #모두 널 값인 열만 삭제한다

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [28]:
df.dropna(axis='rows',thresh=3) #정상 값이 최소 3개가 있어야 살아남는다

     0    1  2   3
1  2.0  3.0  5 NaN

In [8]:
data=pd.Series([1,np.nan,2,None,3],index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [9]:
data.fillna(0) #누락된 값을 0으로 채운다

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [10]:
data.fillna(method='ffill') #이전 값으로 채운다

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [11]:
data.fillna(method='bfill') #앞에 있는 값으로 채운다

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [33]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [36]:
df.fillna(method='ffill',axis=1) #채우는 방향을 지정할 수 있다.

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0