In [25]:
import pandas as pd
import numpy as np

In [5]:
pd.__version__

'1.3.4'

In [5]:
pd?

In [2]:
import numpy as np

In [3]:
data=pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [7]:
data=pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
dat=pd.Series([1,2,3],index=['a','b','c'])
dat

a    1
b    2
c    3
dtype: int64

In [9]:
da=pd.Series([1,2],index={'a','f'})
da

a    1
f    2
dtype: int64

In [10]:
d=pd.Series([2,3],index=['b','c'])
d

b    2
c    3
dtype: int64

In [20]:
d[1]

3

In [9]:
data['b']

0.5

In [28]:
data=pd.Series([0.25,0.5,0.75,1.0],index=["a","v",7,"C"])
data

a    0.25
v    0.50
7    0.75
C    1.00
dtype: float64

In [24]:
data[7] #인덱싱 데이터 타입이 정해진 타입과 같으면 단독 숫자 인덱싱은 할 수 없다

1.0

In [17]:
population_dict={"California":38332521,"Texas":26448193,
                 "New York":19651127,"Florida":19552860,
                 "Illinois":12882135}
population=pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [33]:
population #Series

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [13]:
population['California']

38332521

In [14]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [15]:
#pd.Series(data,index=index)
#시리즈의 기본적인 형태이다.
#data는 여러 요소가 들어갈 수 있다.
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [6]:
pd.Series(5,index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [7]:
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [30]:
pd.Series({2:'a',1:'b',3:'c'},index=[1,2,4])

1      b
2      a
4    NaN
dtype: object

In [31]:
area_dict={'California':423967,'Texas':695662,'New York':141297,'Florida':170312,'Illinois':149995}

In [32]:
area=pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [37]:
states=pd.DataFrame({'population':population,'area':area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [35]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [36]:
states.columns

Index(['population', 'area'], dtype='object')

In [43]:
states['population']
#DataFrame은 열이름(키 값)으로만 객체를 반환할 수 있다

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [45]:
pd.DataFrame(population,columns=['인구 수'])
#columns=[열 이름]

                인구 수
California  38332521
Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135

In [52]:
data=[{'a':i,'b':2*i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [53]:
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [46]:
pd.DataFrame({'Pop':population,'A':area})

                 Pop       A
California  38332521  423967
Texas       26448193  695662
New York    19651127  141297
Florida     19552860  170312
Illinois    12882135  149995

In [56]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [57]:
pd.DataFrame(np.random.rand(3,2),
             columns=['foo','bar'],index=['a','b','c'])

        foo       bar
a  0.576180  0.121108
b  0.032347  0.979518
c  0.116797  0.720497

In [58]:
A=np.zeros(3,dtype=[('A','i8'),('B','f8')]) 
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [61]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [48]:
ind=pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [49]:
ind[1]=15

TypeError: Index does not support mutable operations

In [66]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [67]:
print(ind.size,ind.shape,ind.ndim,ind.dtype)

5 (5,) 1 int64

In [50]:
indA=pd.Index([1,3,5,7,9])
indB=pd.Index([2,3,5,7,11])

In [51]:
indA&indB #교집합

C:\Users\zmzm1\miniconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  """Entry point for launching an IPython kernel.

Int64Index([3, 5, 7], dtype='int64')

In [52]:
indA|indB #합집합

C:\Users\zmzm1\miniconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  """Entry point for launching an IPython kernel.

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [71]:
indA ^ indB #차집합 (A-B|B-A)

C:\Users\zmzm1\miniconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead
  """Entry point for launching an IPython kernel.

Int64Index([1, 2, 9, 11], dtype='int64')